html {
  font-size: 62.5%; /* 1rem = 10px */
  box-sizing: border-box;
  background-color: #f7f7f7; 
}

*, *::before, *::after {
  box-sizing: inherit;
}

.background-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../public/images/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; 
}


.app-name { 
  font-size: 2.3rem; 
  color:#fff; 
  margin-bottom: 1.5rem; 
} 

.App { 
  display: flex; 
  flex-direction: column; 
  justify-content: space-evenly; 
  align-items: center; 
  width: 30rem; 
  min-height: 60rem; 
  background: linear-gradient(to bottom, #4D226D, #215389);
  text-align: center; 
  margin: 0 auto; 
  border-radius: 1rem; 
  padding-bottom: 3rem; 
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); 
  font-family: 'Open Sans', sans-serif;
  border: 2px solid linear-gradient(to bottom, #4D226D, #215389);
}


.city-search { 
  width: 75%; 
  max-width: 40rem; 
  box-sizing: border-box; 
  border: 2px solid rgb(204, 204, 204); 
  outline: none; 
  border-radius: 2rem; 
  font-size: 1.5rem; 
  background-color: #e5eef0; 
  background-position: 1rem 1.2rem; 
  background-repeat: no-repeat; 
  padding: 1rem 2.5rem; 
  -webkit-transition: width 0.4s ease-in-out; 
  transition: width 0.4s ease-in-out; 
  color: #333; 
} 

.city-search:focus { 
  width: 100%; 
} 

.weather-vane-image {
  animation: spin 3s linear infinite;
  width: 5rem;  
  height: auto;
  transform-origin: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 1rem;
}

@keyframes spin {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(360deg); }
}


/* Search bar section */
.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
}

.search-button {
  background-color: #ADD8E6;
  color: #000080;
  border: none;
  border-radius: 20px;
  padding: 1rem 2.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 10px;
  width: 75%; 
  max-width: 40rem;
}

.search-button:hover {
  background-color: #8FBEDC;
}


.city-name { 
  font-size: 1.5rem; 
  color: #fff; 
  margin-bottom: .8rem; 
} 

.date { 
  font-size: 1.25em; 
  font-weight: 500; 
  color: #fff; 
} 

.icon-temp { 
  font-size: 3rem; 
  font-weight: 700; 
  color: #fff; 
  text-align: center; 
} 

.deg { 
  font-size: 1.3rem; 
  vertical-align: super; 
} 

.des-wind { 
  font-weight: 600; 
  color: #fff; 
} 

.error-message { 
  display: flex; 
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  margin-top: 2rem;
  gap: 1.5rem;
} 

.Loader { 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100%; 
} 

.Loader>div { 
  margin: 0 auto; 
} 

.weather-icon { 
  display: flex; 
  justify-content: center; 
  align-items: center; 
} 

.weather-icon img { 
  width: 10rem; 
  height: 10rem; 
  border-radius: 50%; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* Dropdown Styles */

.select-container {
  position: relative;
  display: inline-block;
  margin-top: 1.6rem;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
}

.select-container select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  max-width: 20rem;
  box-sizing: border-box;
  border: 2px solid #ADD8E6;
  border-radius: 2rem;
  background-color: #ADD8E6;
  padding: 1.2rem 2rem;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  cursor: pointer;
  transition: border-color 0.3s;
}

.select-container select:hover {
  border-color: #666666;
}

.select-container select:focus {
  border-color: #444444;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.select-container::after {
  content: '\25BC'; /* down arrow */
  font-size: 1.5rem;
  color: #333333;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.temperature-message {
  font-size: 1.2rem;
  color: #fff;
  margin-top: 3rem;
  font-weight: bold;
}

.welcome-section {
  position: relative;
  perspective: 1000px;
}

.instruction {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 600;
}

/* .cloud {
  background-image: url('../public/images/cloud.svg');
  background-color: transparent;
  width: 150px;
  height: 90px;
  position: absolute;
  animation: float 5s ease-in-out infinite;
  background-size: contain;
  background-repeat: no-repeat;
}

.cloud:nth-child(1) {
  top: -130%;
  left: -25%;
}

.cloud:nth-child(2) {
  top: -120%;
  left: 30%;
  animation-delay: 2s; 
}

.cloud:nth-child(3) {
  top: -110%;
  left: 65%;
  animation-delay: 4s;
}

.cloud:nth-child(4) {
  top: -90%;
  left: 10%;
}

.cloud:nth-child(5) {
  top: -85%;
  left: 60%;
  animation-delay: 2.5s;
}

.cloud:nth-child(6) {
  top: -100%;
  left: 20%;
  animation-delay: 3.5s;
}

.cloud:nth-child(7) {
  top: -100%;
  left: 100%;
  animation-delay: 1s;
}


@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
} */

@media screen and (max-width: 650px) {
  .App {
    width: 80%;
  }
  .city-search {
    width: 100%;
  }
  .search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .cloud:nth-child(7),
  .cloud:nth-child(6),
  .cloud:nth-child(1) {
    display: none;
  }
} 

